installers/
_removed/
output/
return/
_offline/Win11_Debloater/Main copy.ps1
return/genersate-apps.txt
*.ahk
*.ah2
logs/
.tmp/


# Ignored by F-UX Notes Hub
/.fux_note-hub/

_offline/GoldenImager2/node_modules
_offline/GoldenImager2/src-tauri/target
_offline/GoldenImager2/_temp_backup